.main-container {
    display: flex;
    min-height: 100vh;
}

.navbar {
    position: sticky !important;
    top: 0 !important;
    z-index: 1050;
}

.sidebar {
    width: 250px;
    background-color: #fff;
    border-right: 1px solid #ddd;
    flex-shrink: 0;
}

#content-area {
    flex: 1;
    width: 100%;
}