.main-container {
  display: flex;
  min-height: 100vh;
  padding-top: 0;
}

.sidebar {
  width: 250px;
  background-color: var(--sidebar-bg);
  border-right: 1px solid var(--border);
  flex-shrink: 0;
}

#content-area {
  flex: 1;
  width: 100%;
}

main {
  background-color: var(--bg);
  padding-top: 1rem !important;
}
