.main-container {
  display: flex;
  min-height: 100vh;
  padding-top: 0;
}

.sidebar {
  width: 250px;
  background-color: #fff;
  border-right: 1px solid #ddd;
  flex-shrink: 0;
}

#content-area {
  flex: 1;
  width: 100%;
}

main {
  background-color: #f0f2f5;
  padding-top: 1rem !important;
}
